{{ define "page:title" }}Home{{ end }}
{{ define "page:content" }}
<main class="container">
    <h1>Classificador de Mensagens</h1>

    <form hx-post="/api/message" hx-target="#resultado" hx-swap="innerHTML">
        <p>
            <label for="message">Mensagem:</label>
            <textarea id="message" name="message" required />
        </p>

        <p>
            <label for="user_id">User ID:</label>
            <input type="text" id="user_id" name="user_id" value="12345">
        </p>

        <button type="submit">Enviar</button>
    </form>
    
    <div id="resultado">
    </div>
</main>
{{ end }}